<!DOCTYPE html>
<html>

<head>
  <style>
    .container {
      width: 800px;
      font-family: Arial, Helvetica, sans-serif;
    }

    span {
      margin: 10px 0;
      display: block;
    }
  </style>
</head>

<body>
  <div class="container">
    <img src="https://i.imgur.com/oUAKMC5.png" alt="Rentx Logo">
    Hi, {{name}}!

    <br />

    <span>You requested a password change.</span>
    <span>To change your password, click on link
      <a href={{link}} target="_blank">{{link}}</a></span>


    <span>If you didn't request the change, please ignore this email</span>

    <strong>Thank you</strong>

    <h3>Team | <strong>Rental</strong></h3>
  </div>
</body>

</html>